<div class="weather">
  <form [formGroup]="weatherForm" (ngSubmit)="submitWeatherForm(weatherForm.value)">
    <span class="error" *ngIf="errorMessage">{{errorMessage}}</span>
    <input class="form-control" id="zip" type="text" formControlName="zip" placeholder="Zip Code">

    <button type="submit">Search</button>
  </form>

  <h3>Today's weather in {{weatherData.city}}</h3>
  <img src="{{weatherData.icon}}" alt="{{weatherData.description}}">
  <h3>{{weatherData.tempurature}} &deg; F</h3>
  <h4>{{weatherData.humidity}} % humidity</h4>
</div>
