div.weather {
  width: 80%;
  max-width: 450px;
  margin: 10px auto;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

div.weather h3 {
  text-align: center;
}

div.weather form {
  width: 100%;
  padding: 6px;
}

div.weather form * {
  box-sizing: border-box;
}

div.weather form button {
  width: 100px;
}

div.weather form input {
  width: calc(100% - 112px);
  margin-right: 10px;
}

div.weather img {
  margin: -10px 0;
}

@media(max-width: 400px) {
  div.weather form {
    display: flex;
    flex-flow: column;
  }

  div.weather form input {
    width: 100%;
    margin-bottom: 6px;
  }
}
