<div class="register">
  <h3>Register Page</h3>
  <form [formGroup]="signupForm">
    <div class="form-group">
      <h6>User Name</h6>
      <input class="form-control"
             [ngClass]="{'is-invalid': signupForm.get('name').touched && signupForm.get('name').invalid}"
             id="name" type="text" formControlName="name" style="width: 300px; " #username>
      <span class="invalid-feedback">Name Cannot Be Blank</span>
    </div>
    <div class="form-group">
      <h6>Email</h6>
      <input class="form-control"
             [ngClass]="{'is-invalid': signupForm.get('email').touched && signupForm.get('email').invalid}"
             id="email" type="email" formControlName="email" style="width: 300px; " #email>
      <span class="invalid-feedback">Email Cannot Be Blank</span>
    </div>
    <div class="form-group">
      <h6>Password</h6>
      <input class="form-control"
             [ngClass]="{'is-invalid': signupForm.get('password').touched && signupForm.get('password').invalid}"
             id="password" type="password" formControlName="password" style="width: 300px; " #password>
      <span class="invalid-feedback">Password Cannot Be Blank</span>
    </div>
    <h6>Confirm Password</h6>
    <div class="form-group">
      <input class="form-control"
             [ngClass]="{'is-invalid': signupForm.get('confirm').touched && signupForm.get('confirm').invalid}"
             id="confirm" type="password" formControlName="confirm"
             style="width: 300px; ">
      <span class="invalid-feedback">Password Does Not Match</span>
    </div>
    <button type="submit" (click)="register(username,email,password)" style="margin-top: 10px;">Sign Up</button>
  </form>
</div>
