<h3>Sign Up Page</h3>
<div class="signup">
    <form [formGroup]="signupForm">
      <input class="form-control" id="username" type="text" formControlName="username" placeholder="User Name">
      <input class="form-control" id="email" type="email" formControlName="email" placeholder="Email">
      <input class="form-control" id="name" type="text" formControlName="name" placeholder="Full Name">
      <input class="form-control" id="password" type="password" formControlName="password" placeholder="Password">
      <input class="form-control" id="password" type="password" formControlName="password" placeholder="Confirm Password">
      <button type="submit">Sign In</button>
    </form>

</div>