<div>
<div class="card">
    <div class="card-body">
      <h1>Name: </h1><h3>{{givenName0}} {{familyName0}}</h3>
      <h1>Nationality: </h1> <h3>{{nationality0}}</h3>
      <h1>Status: </h1> <h3>{{status0}}</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
        <h1>Name: </h1> <h3>{{givenName1}} {{familyName1}}</h3>
        <h1>Nationality: </h1> <h3>{{nationality1}}</h3>
        <h1>Status: </h1> <h3>{{status1}}</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
        <h1>Name: </h1> <h3>{{givenName2}} {{familyName2}}</h3>
        <h1>Nationality: </h1> <h3>{{nationality2}}</h3>
        <h1>Status: </h1> <h3>{{status2}}</h3>
    </div>
  </div>
</div>