<h1 class="text-center">Racing Stats</h1>
<div>
  <div class="card">
    <h4>Name: {{givenName0}} {{familyName0}}</h4>
    <h4>Nationality: {{nationality0}}</h4>
    <h4>Status: {{status0}}</h4>
  </div>

  <div class="card">
    <h4>Name: {{givenName1}} {{familyName1}}</h4>
    <h4>Nationality: {{nationality1}}</h4>
    <h4>Status: {{status1}}</h4>
  </div>

  <div class="card">
    <h4>Name: {{givenName2}} {{familyName2}}</h4>
    <h4>Nationality: {{nationality2}}</h4>
    <h4>Status: {{status2}}</h4>
  </div>
</div>
