
<div class="chatbox">
  <div class="username">
    <input [(ngModel)]="username"/>
    <button (click)="sendUsername()">Submit Username</button>
    <p>Connected Users: {{userCount}}</p>
    {{broadcast}}
  </div>

  <div *ngFor="let message of messages" class="messages">
    <p><strong>{{message.username}}: </strong>{{message.message}}</p>
  </div>

  <div class="send-message">
    <input [(ngModel)]="message" (keypress)="showUserIsTyping()" />
    <button (click)="sendMessage()">Send Message</button>
  </div>

</div>
