<div class="container">
  <div class="row">
    <div class="col">
      <app-map></app-map>
    </div>

    <div class="col about">
      <h2>Update 24X7</h2>
      <p>Update 24X7 is the Greatest News Company in the world! We have a grand total of 4 employees,
        and have been well-respected across the globe since we formed on Jan 6th, 2020. All of our news comes
        from our insider friends at Pluto, who always give us to hottest takes! Please consider subscribing
        for the low price of $0.12 per minute. </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean libero enim, interdum sed ligula et, placerat
        imperdiet nisi. Sed nec tellus nulla. Morbi in eleifend magna. Morbi hendrerit nisi erat. Nunc vel augue ac
        turpis
        euismod laoreet non in tellus. Fusce vulputate sagittis mi. Interdum et malesuada fames ac ante ipsum primis in
        faucibus. Proin bibendum ante ut aliquam ullamcorper. Donec eget ante vitae nisi bibendum gravida. Nullam nisi
        nisl,
        malesuada in enim id, semper semper dui. Praesent viverra ut nunc vitae auctor.</p>
      <p>Pellentesque malesuada gravida neque, in tincidunt velit hendrerit ut. Aliquam et bibendum sapien. Nullam id
        arcu
        vitae leo sagittis tempus feugiat sit amet tortor. Nunc placerat convallis risus, eget suscipit tellus maximus
        vel.
        Maecenas semper neque at vestibulum laoreet. Aenean volutpat sollicitudin sapien, ac varius ipsum dignissim nec.
        Sed
        vel erat convallis, vestibulum nibh a, pellentesque ante. Sed vel semper magna. Nunc et libero faucibus,
        malesuada
        ex eget, mattis risus.</p>
    </div>
  </div>
</div>

