
<div class="chatbox">
  <div class="username">
    <button (click)="sendUsername()">Submit Username</button>
    <input [(ngModel)]="username"/>
    <h4 class="user-count">{{userCount == 1 ? userCount + " User Connected": userCount + " Users Connected"}}</h4>
  </div>

  <p class="broadcast">{{broadcast ? broadcast : ""}}</p>

  <div class="messages">
    <p *ngFor="let message of messages"><strong>{{message.username}}: </strong>{{message.message}}</p>
  </div>

  <div class="send-message">
    <button (click)="sendMessage()">Send</button>
    <input [(ngModel)]="message" (keypress)="showUserIsTyping()" />
  </div>

</div>
