<div>
  <div class="text-center">
    <div style="margin-top:10px;" class="btn-group" role="group" aria-label="Basic example">
      <button type="button" (click)="firstNews()" class="btn btn-secondary">Latest News 1</button>
      <button type="button" (click)="secondNews()" class="btn btn-secondary">Latest News 2</button>
      <button type="button" (click)="thirdNews()" class="btn btn-secondary">Latest News 3</button>
    </div>
  </div>
  <div style="margin-top:10px;" class="card">
    <div class="card-body">
      <h2 style="color:blue" class="text-center">{{title}}</h2>
      <h3>{{description}}</h3>
      <h4 style="color:red">Visit: </h4><a href="{{Url}}">{{Url}}</a>
    </div>
  </div>
</div>
