@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

html, body * {
  font-family: "Noto Serif", American Typewriter, serif;
}

body {
  background: linear-gradient(45deg, rgba(221, 204, 170, 0.02) 12%, transparent 0, transparent 88%, rgba(221, 204, 170, 0.02) 0),
  linear-gradient(135deg, transparent 37%, rgba(201, 164, 108, 0.02) 0, rgba(188, 151, 96, 0.02) 63%, transparent 0),
  linear-gradient(45deg, transparent 37%, rgba(221, 204, 170, 0.02) 0, rgba(221, 204, 170, 0.02) 63%, transparent 0) rgba(255, 236, 178, 0.3);
  background-size: 25px 25px;
}

button {
  background: linear-gradient(180deg, #a00029 48%, #8d0024 52%);
  border: none;
  box-shadow: 0px 0px 2px #ffecb2;
  cursor: pointer;
  color: #ffecb2;
  font-family: Arial;
  text-decoration: none;
  padding: 4px 10px !important;
}

button:hover {
  background: linear-gradient(180deg, #c60032 48%, #a5002a 52%);
}

.form-control, input {
  height: calc(1.2em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #330000;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ffecb2;
  border-radius: 0px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus, input:focus {
  background-color: floralwhite;
  border-color: rgba(0, 0, 0, 0.2);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);
}
